doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='format-detection' content='telephone=no')
    link(rel='stylesheet' href='css/ress.css')
    script(src="https://kit.fontawesome.com/e199f679fa.js" crossorigin="anonymous")
    link(rel='stylesheet' href!='https://fonts.googleapis.com/css?family=Raleway&display=swap')
    link(rel="stylesheet" href="mailform/css/mailform.css")
    link(rel='stylesheet' href='css/animate.css')
    link(rel='stylesheet' href='css/modaal.min.css')
    link(rel='stylesheet' href='css/style.css')
    title タイトル
    meta(name='description' content='')
    meta(name='keywords' content='')

  - var menuTitle01 = "Profile"
  - var menuSubTitle01 = "自己紹介"
  - var menuTitle02 = "Coding"
  - var menuSubTitle02 = "コーディングスキル"
  - var menuTitle03 = "Tools"
  - var menuSubTitle03 = "使用可能ツール"
  - var menuTitle04 = "Works"
  - var menuSubTitle04 = "作品"
  - var menuTitle05 = "Contact"
  - var menuSubTitle05 = "お問い合わせ"

  body
    header#p-header
      div.l-inner
        h1
          a(href="#p-mv").p-header-logo
        nav.p-header-nav
          ul.p-header-nav__list
            li.p-header-nav__item
              a(href="#p-profile")
                span.p-header-nav__item__title #{menuTitle01}
                br
                span.p-header-nav__item__subtitle #{menuSubTitle01}
            li.p-header-nav__item
              a(href="#p-coding")
                span.p-header-nav__item__title #{menuTitle02}
                br
                span.p-header-nav__item__subtitle #{menuSubTitle02}
            li.p-header-nav__item
              a(href="#p-tools")
                span.p-header-nav__item__title #{menuTitle03}
                br
                span.p-header-nav__item__subtitle #{menuSubTitle03}
            li.p-header-nav__item
              a(href="#p-works")
                span.p-header-nav__item__title #{menuTitle04}
                br
                span.p-header-nav__item__subtitle #{menuSubTitle04}
            li.p-header-nav__item
              a(href="#p-contact")
                span.p-header-nav__item__title #{menuTitle05}
                br
                span.p-header-nav__item__subtitle #{menuSubTitle05}
          // p-header-nav END
    // header END

    div.c-drawer.c-drawer--right
      input#c-drawer__check(type="checkbox")
      label.c-drawer__open(for="c-drawer__check")
        <span></span>
      label.c-drawer__close(for="c-drawer__check")
      div.c-drawer__content
        nav.c-drawer__nav
          ul.c-drawer__list
            li.c-drawer__item
              a(href="#p-profile")
                span.c-drawer__item__title #{menuTitle01}
                span.c-drawer__item__subtitle #{menuSubTitle01}
            li.c-drawer__item
              a(href="#p-coding")
                span.c-drawer__item__title #{menuTitle02}
                span.c-drawer__item__subtitle #{menuSubTitle02}
            li.c-drawer__item
              a(href="#p-tools")
                span.c-drawer__item__title #{menuTitle03}
                span.c-drawer__item__subtitle #{menuSubTitle03}
            li.c-drawer__item
              a(href="#p-works")
                span.c-drawer__item__title #{menuTitle04}
                span.c-drawer__item__subtitle #{menuSubTitle04}
            li.c-drawer__item
              a(href="#p-contact")
                span.c-drawer__item__title #{menuTitle05}
                span.c-drawer__item__subtitle #{menuSubTitle05}
        // c-drawer__content END
      // c-drawer END
    // p-header__drawer END

    div#p-mv
      div.l-inner
        p.p-mv__title Welcome<br>to<br>My Portfolio
        a.p-mv__scroll(href="#p-profile")
          div.p-mv__scroll__img
    //mv END

    div.p-content
      section#p-profile.p-section
        div.l-inner
          div.p-section__header
            h2.p-section__title Profile
              span.p-section__subtitle 自己紹介
            p.p-section__description ポートフォリオをご覧頂きありがとうございます。<br>WEBエンジニアとして就職活動中の 米倉 康弘（よねくら やすひろ）と申します。
          div.p-section__content
            div.p-profile__box
              div.p-profile__img.wow.fadeInLeft
                img(src="img/profile-career-1.jpg", alt="")
              div.p-profile__content.wow.fadeInRight
                h3.p-profile__title 1st Career
                  span.p-profile__subtitle 経歴１
                div.p-profile__description
                  p 一身上の都合により大学を中退後、地元の大手小売店に就職。日配品を担当する部門のマネージャーを約４年間務めました。
                  p 商品の発注、販売計画の立案といった業務を主として行っていたため、WEB業界とジャンルは異なりますが、マーケティングについての知見があります。
                  p また、マネージャーとしてパート従業員のマネジメントを行っていたほか、労働組合の支部長を務めていた経験から、人の意見を汲み取り、まとめる力を身に着けられたと思っています。
            // profile--01 END

            div.p-profile__box
              div.p-profile__img.wow.fadeInRight
                img(src="img/profile-career-2.jpg", alt="")
              div.p-profile__content.wow.fadeInLeft
                h3.p-profile__title 2nd Career
                  span.p-profile__subtitle 経歴２
                div.p-profile__description
                  p ものづくりに関わる仕事に携わりたいとの思いから自動車部品の製造会社に転職。製品の設計を行う部署で約１年半勤務しました。
                  p 業務内容は設計日程の調整、部門間のすり合わせなどで、前職の経験を活かしながら、交渉力・調整力といったコミュニケーションスキルを高めました。
                  p その後、家業を手伝うため2019年4月に退職。現在はキャリア形成のためWEB業界への就職を目指しプログラミングを独学しています。
            // profile--02 END

            div.p-profile__box
              div.p-profile__img.wow.fadeInLeft
                img(src="img/profile-character.jpg", alt="")
              div.p-profile__content.wow.fadeInRight
                h3.p-profile__title Character
                  span.p-profile__subtitle 性格
                div.p-profile__description
                  p やわらかい性格で、人当たりのよさに定評があります。イライラすることがほとんどないため、友人からは仏のような人と言われています。
                  p 食べることが大好きで、美味しいものを食べているときに一番の幸せを感じます。代償として最高90キロ代まで体重が増加しました。現在はピークから20キロのダイエットに成功し、現在も筋トレを日課としています。
            // profile--03 END
      // section profile END

      section#p-coding.p-section
        div.l-inner
          div.p-section__header
            h2.p-section__title Coding
              span.p-section__subtitle コーディングスキル
            p.p-section__description コーディングに関するスキルを紹介します。
          div.p-section__content
            div.p-coding__box.wow.slideInRight
              div.p-coding__img
                img(src="img/coding-html.svg", alt="")
              div.p-coding__content
                h3.p-coding__title HTML
                div.p-coding__description
                  ul
                    li.p-coding__description__item タグの意味を理解し、W3C標準に準拠したセマンティックなマークアップができます。
                    li.p-coding__description__item APIを利用した、各種SNS、Googleマップ、Youtubeなどの埋め込み、シェアボタンの設置に対応出来ます。
                    li.p-coding__description__item 構造化マークアップを用いてリッチスニペットに対応できます。
            // coding__box html END

            div.p-coding__box.wow.slideInRight
              div.p-coding__img
                img(src="img/coding-css.svg", alt="")
              div.p-coding__content
                h3.p-coding__title CSS
                div.p-coding__description
                  ul
                    li.p-coding__description__item サイズの相対指定、メディアクエリなどを用いてリキッドレイアウトのレスポンシブデザインに対応できます。
                    li.p-coding__description__item Bootstrapを用いたコーディングを行うことができます。
                    li.p-coding__description__item FLOCSS などの設計思想を理解し、保守性の高いクラス設計を行うことができます。
            // coding__box css END

            div.p-coding__box.wow.slideInRight
              div.p-coding__img
                img(src="img/coding-js.svg", alt="")
              div.p-coding__content
                h3.p-coding__title JavaScript
                div.p-coding__description
                  ul
                    li.p-coding__description__item 求める動きに必要なjQueryプラグイン、jsライブラリを選択し実装することができます。
                    li.p-coding__description__item JavaScript,jQueryの基本構文を理解し、簡単な動きであればゼロベースで書くことができます。
                    li.p-coding__description__item DOMの概念を理解し、動的にページを書き換えることができます。
            // coding__box js END

            div.p-coding__box.wow.slideInRight
              div.p-coding__img
                img(src="img/coding-wp.svg", alt="")
              div.p-coding__content
                h3.p-coding__title WordPress
                div.p-coding__description
                  ul
                    li.p-coding__description__item WordPressを用いたブログ運営経験があり、ひと通りの使用方法を理解しています。
                    li.p-coding__description__item 静的ページのWordPres化を行うことができます。
                    li.p-coding__description__item PHPの基本構文・WordPress関数を理解しており、投稿機能付きの独自テーマを作成できます。
                    li.p-coding__description__item ローカル開発環境の構築からサーバーへの実装までを行うことができます。
            // coding__box wp END
      // section coding END

      section#p-tools.p-section
        div.l-inner
          div.p-section__header
            h2.p-section__title Tools
              span.p-section__subtitle 使用可能ツール
            p.p-section__description 使用可能なツールを紹介します。
          div.p-section__content
            div.p-tools__box
              div.p-tools__img.p-tools--pug
              div.p-tools__content
                h3.p-tools__title Pug
                p.p-tools__description 基本的な記述方法に加え、変数、includeなどを用いて効率的にコーディングを行えます。

            div.p-tools__box
              div.p-tools__img.p-tools--sass
              div.p-tools__content
                h3.p-tools__title Sass
                p.p-tools__description Pugと同様に、変数、includeなどを用いて効率的にコーディングを行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--gulp
              div.p-tools__content
                h3.p-tools__title Gulp
                p.p-tools__description Gulpを用いて自動コンパイルやブラウザ同期などを必要に応じて実装できます。導入に必要なNode.jsやnpmなどの使い方も理解しています。

            div.p-tools__box
              div.p-tools__img.p-tools--photoshop
              div.p-tools__content
                h3.p-tools__title Photoshop
                p.p-tools__description 画像のスライス、用途に合わせた書き出し、簡単なレタッチなどを行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--illustrator
              div.p-tools__content
                h3.p-tools__title Illustrator
                p.p-tools__description 画像のスライス、用途に合わせた書き出し、簡単なイラストの作成などを行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--xd
              div.p-tools__content
                h3.p-tools__title XD
                p.p-tools__description 画像やテキスト情報などの抽出、プロトタイプの作成などを行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--git
              div.p-tools__content
                h3.p-tools__title Git
                p.p-tools__description Git/Githubの基本的な使用方法に加え、複数人での開発を想定したブランチの運用も理解しています。

            div.p-tools__box
              div.p-tools__img.p-tools--unix
              div.p-tools__content
                h3.p-tools__title UNIXコマンド
                p.p-tools__description ファイルやディレクトリの操作をUNIXコマンドを用いて行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--vscode
              div.p-tools__content
                h3.p-tools__title VScode
                p.p-tools__description エディターはVScodeを使用しており、プラグインなどを用いて効率的にコーディングを行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--office
              div.p-tools__content
                h3.p-tools__title Officeソフト
                p.p-tools__description ExcelなどのOfficeソフトは実務で使用していたため、主要な操作はひと通り行えます。
            
            div.p-tools__box
              div.p-tools__img.p-tools--developer
              div.p-tools__content
                h3.p-tools__title デベロッパーツール
                p.p-tools__description Elements・Consoleパネルを使用した表示の検証や、Networkパネルを使用した速度の検証を行えます。

            div.p-tools__box
              div.p-tools__img.p-tools--check
              div.p-tools__content
                h3.p-tools__title チェックリスト
                p.p-tools__description コーディングの品質を担保するためチェックリストを使用しています。
                a#js-checklist__button.p-checklist__button チェックリストを表示する
                div#js-checklist__modal(style="display: none;")
                  div.p-checklist__modal
                    p.p-checklist__title Check List
                    ul.p-checklist__list
                      li.p-checklist__item 誤字脱字がないか
                      li.p-checklist__item フォントが適切に設定されているか
                      li.p-checklist__item 色はデザインカンプ通りか
                      li.p-checklist__item デザインカンプの効果をCSSで表現できているか（box-shadow、opacityなど）
                      li.p-checklist__item hover時の挙動は正しく設定されているか
                      li.p-checklist__item JavaScriptの挙動は正しいか
                      li.p-checklist__item デザインカンプとWebサイトを見比べてズレがないか
                      li.p-checklist__item スムーズにレスポンシブされるか
                      li.p-checklist__item 水平スクロールしないか
                      li.p-checklist__item 改行位置は適切か
                      li.p-checklist__item スマホ（320px）、タブレット（768px）、PC（カンプ）の3パターンの表示に崩れはないか
                      li.p-checklist__item Chrome、FireFox、Safari、Edge（IE）で表示崩れが起きていないか
                      li.p-checklist__item 担保しているブラウザverを把握しているか
                      li.p-checklist__item メタ情報は正しく設定されているか
                      li.p-checklist__item 見出し構造が不自然ではないか
                      li.p-checklist__item 画像の形式・サイズ・圧縮率は適切か
                      li.p-checklist__item altは正しく設定されているか
                      li.p-checklist__item 閉じタグは正しく対応しているか
                      li.p-checklist__item W3Cの標準規格に沿っているか（HTML、CSS）
                      li.p-checklist__item リンク切れが起きていないか
                      li.p-checklist__item コンソールエラー・ネットワークエラーが出てないか
      // section tools END
  
      section#p-works.p-section
        div.l-inner
          div.p-section__header
            h2.p-section__title Works
              span.p-section__subtitle 作品
            p.p-section__description 作成したサイトを紹介します。
          div.p-section__content
            div.p-works__box.p-works__box--html
              div.p-works__img
                img(src="", alt="")
              div.p-works__content
                h3.p-works__title HTML
                div.p-works__description
            div.p-works__box.p-works__box--html
              div.p-works__content
                h3.p-works__title ブログ型オリジナルテーマ
                div.p-works__description 投稿機能付きのオリジナルテーマです。
              div.p-works__img
                img(src="img/sample-page01.png", alt="")
      // section works END

      section#p-contact.p-section
        div.l-inner
          div.p-section__header
            h2.p-section__title Contact
              span.p-section__subtitle お問い合わせ
            p.p-section__description 興味をもっていただけましたら、下記の電話番号・メールアドレスにご連絡いただくか、お問い合わせフォームよりご連絡ください。
          div.p-section__content
            p.p-contact__tel
            p.p-contact__mail
            div.p-contact__form.
              <form action="php/mailform.php" method="post" id="mail_form">
                <dl>
                  <dt>会社名<span>Company Name</span></dt>
                  <dd><input type="text" id="company" name="company" value="" /></dd>

                  <dt>名前<span>Your Name</span></dt>
                  <dd class="required"><input type="text" id="name_1" name="name_1" value="" /> <input type="text" id="name_2" name="name_2" value="" /></dd>

                  <dt>ふりがな<span>Name Reading</span></dt>
                  <dd><input type="text" id="read_1" name="read_1" value="" /> <input type="text" id="read_2" name="read_2" value="" /></dd>

                  <dt>メールアドレス<span>Mail Address</span></dt>
                  <dd class="required"><input type="email" id="mail_address" name="mail_address" value="" /></dd>

                  <dt>メールアドレス<br />(確認用)<span>Mail Address Confirm</span></dt>
                  <dd><input type="email" id="mail_address_confirm" name="mail_address_confirm" value="" /></dd>

                  <dt>性別<span>Gender</span></dt>
                  <dd>
                    <ul>
                      <li><label><input type="radio" class="gender" name="gender" value="男性" />男性</label></li>
                      <li><label><input type="radio" class="gender" name="gender" value="女性" />女性</label></li>
                    </ul>
                  </dd>

                  <dt>恋愛対象<span>Target</span></dt>
                  <dd>
                    <ul>
                      <li><label><input type="radio" class="target" name="target" value="男性" />男性</label></li>
                      <li><label><input type="radio" class="target" name="target" value="女性" />女性</label></li>
                    </ul>
                  </dd>

                  <dt>郵便番号<span>Postal</span></dt>
                  <dd class="required"><input type="text" id="postal" name="postal" value="" onkeyup="AjaxZip3.zip2addr( this,'','address','address' );" />　<a href="http://www.post.japanpost.jp/zipcode/" target="_blank">郵便番号検索</a></dd>

                  <dt>住所<span>Address</span></dt>
                  <dd><input type="text" id="address" name="address" value="" /></dd>

                  <dt>電話番号<span>Phone Number</span></dt>
                  <dd><input type="tel" id="phone" name="phone" value="" /></dd>

                  <dt>ご希望の日時<span>Schedule</span></dt>
                  <dd class="required"><input type="text" id="schedule" name="schedule" value="" readonly="readonly" /></dd>

                  <dt>ご希望の商品<span>Product</span></dt>
                  <dd>
                    <select id="product" name="product">
                    <option value="">選択してください</option>
                    <option value="iPhone4">iPhone4</option>
                    <option value="iPhone4s">iPhone4s</option>
                    <option value="iPhone5">iPhone5</option>
                    <option value="iPhone5s">iPhone5s</option>
                    <option value="iPhone6">iPhone6</option>
                    <option value="iPhone6 Plus">iPhone6 Plus</option>
                    <option value="iPhone6s">iPhone6s</option>
                    <option value="iPhone6s Plus">iPhone6s Plus</option>
                    <option value="iPhone7">iPhone7</option>
                    <option value="iPhone7 Plus">iPhone7 Plus</option>
                  </select>
                  </dd>

                  <dt>ご使用中の商品<span>Use Product</span></dt>
                  <dd>
                    <select id="use" name="use">
                    <option value="">選択してください</option>
                    <option value="iPhone4">iPhone4</option>
                    <option value="iPhone4s">iPhone4s</option>
                    <option value="iPhone5">iPhone5</option>
                    <option value="iPhone5s">iPhone5s</option>
                    <option value="iPhone6">iPhone6</option>
                    <option value="iPhone6 Plus">iPhone6 Plus</option>
                    <option value="iPhone6s">iPhone6s</option>
                    <option value="iPhone6s Plus">iPhone6s Plus</option>
                    <option value="iPhone7">iPhone7</option>
                    <option value="iPhone7 Plus">iPhone7 Plus</option>
                    <option value="その他">その他</option>
                  </select>
                  </dd>

                  <dt>お問い合わせの種類<span>Inquiry Kind</span></dt>
                  <dd>
                    <ul>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="WEBサイトについて" />WEBサイトについて</label></li>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="商品について" />商品について</label></li>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="キャンペーンについて" />キャンペーンについて</label></li>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="採用について" />採用について</label></li>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="ご意見・ご要望" />ご意見・ご要望</label></li>
                      <li><label><input type="checkbox" class="kind" name="kind[]" value="交際希望" />交際希望</label></li>
                    </ul>
                  </dd>

                  <dt>返信方法のご希望<span>Response</span></dt>
                  <dd>
                    <ul>
                      <li><label><input type="checkbox" class="response" name="response[]" value="電話での返信を希望" />電話での返信を希望</label></li>
                      <li><label><input type="checkbox" class="response" name="response[]" value="メールでの返信を希望" />メールでの返信を希望</label></li>
                      <li><label><input type="checkbox" class="response" name="response[]" value="返信不要" />返信不要</label></li>
                    </ul>
                  </dd>

                  <dt>お問い合わせの内容<span>Contents</span></dt>
                  <dd class="required"><textarea id="contents" name="contents" cols="40" rows="5"></textarea></dd>

                  <dt>愛の告白<span>Message</span></dt>
                  <dd><textarea id="message" name="message" cols="40" rows="5"></textarea></dd>
                </dl>

                <p id="form_submit"><input type="button" id="form_submit_button" value="送信する" /></p>
              </form>
      // section contact END
    // content END

    footer#footer
      div.l-inner
        p.p-footer__copy &copy; 2020 Yasuhiro Yonekura
    // footer END

  script(src="https://code.jquery.com/jquery-3.3.1.min.js")
  script(src="js/jquery.ripples-min.js")
  //- script(src="mailform/js/mailform-js.php")
  script(src="js/wow.min.js")
  script(src="js/modaal.min.js")
  script(src="js/script.js")
  // body END


